{% extends 'base.html.twig' %}

{% block title %}ReclamationAvis index{% endblock %}

{% block body %}
    <h1>ReclamationAvis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Dateajout</th>
                <th>Description</th>
                <th>Image</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation_avi in reclamation_avis %}
            <tr>
                <td>{{ reclamation_avi.id }}</td>
                <td>{{ reclamation_avi.objet }}</td>
                <td>{{ reclamation_avi.dateajout ? reclamation_avi.dateajout|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation_avi.description }}</td>
                <td>{{ reclamation_avi.image }}</td>
                <td>{{ reclamation_avi.note }}</td>
                <td>
                    <a href="{{ path('app_reclamation_avis_show', {'id': reclamation_avi.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_avis_edit', {'id': reclamation_avi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_avis_new') }}">Create new</a>
{% endblock %}
