{% extends 'utilisateur/Dashbord/base.html.twig' %}
{% block header %}
{#    <link href="{{asset('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap')}}" rel="stylesheet">    <link href="{{asset('assetsLogin/fonts/icomoon/style.css')}}" rel="stylesheet">#}
{#    <link href="{{asset('assetsLogin/css/owl.carousel.min.css')}}" rel="stylesheet">#}
{#    <link href="{{asset('assetsLogin/css/style.css')}}" rel="stylesheet">#}
    <link href="{{asset('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap')}}" rel="stylesheet">
    <link href="{{asset('assetsLogin/fonts/icomoon/style.css')}}" rel="stylesheet">
    <link href="{{asset('assetsLogin/css/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('assetsLogin/css/style.css')}}" rel="stylesheet">
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block footer %}

{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="content card mb-3">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <img src="assetsLogin/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <h3>Login to Your Account</h3>
                                <p class="mb-4">Enter your username &amp; password to login</p>
                            </div>
                            <form action="#" method="post">
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                                </div>
                                <br>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" name="mdp" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                <div class="d-flex mb-5 align-items-center">

                                    <p class="small mb-0">Forgot your? <a href="{{ path('forgot') }}">Password</a></p>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Login</button>
                                </div>
                                <p class="small mb-0">Don't have account? <a href="{{ path('app_register') }}">Create an account</a></p>

                                <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

                                <div class="social-login">
                                    <a href="{{ path('connect_facebook_start') }}" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="{{ path('connect_google') }}" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{asset('assetsLogin/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{asset('assetsLogin/js/popper.min.js') }}"></script>
    <script src="{{asset('assetsLogin/js/bootstrap.min.js') }}"></script>
    <script src="{{asset('assetsLogin/js/main.js') }}"></script>
{% endblock %}