{% extends 'base.html.twig' %}

{% block title %}Certification index{% endblock %}

{% block body %}
    <h1>Certification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titrecours</th>
                <th>Titretest</th>
                <th>Dateajout</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for certification in certifications %}
            <tr>
                <td>{{ certification.id }}</td>
                <td>{{ certification.titrecours }}</td>
                <td>{{ certification.titretest }}</td>
                <td>{{ certification.dateajout }}</td>
                <td>{{ certification.lien }}</td>
                <td>
                    <a href="{{ path('app_certification_show', {'id': certification.id}) }}">show</a>
                    <a href="{{ path('app_certification_edit', {'id': certification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_certification_new') }}">Create new</a>
{% endblock %}
