{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
        <tr>

            <th>Titre</th>
            <th>Salaire</th>
            <th>Description</th>
            <th>Domaine</th>
            <th>Dateexpiration</th>
            <th>Dureestage</th>
            <th>Typestage</th>
            <th>Dureecontrat</th>
            <th>Typecontrat</th>
            <th>Modetravail</th>
            <th>Lieu</th>
            <th>Typeoffre</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in tache %}
            <tr>

                <td>{{ offre.titre }}</td>
                <td>{{ offre.salaire }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.domaine }}</td>
                <td>{{ offre.dateexpiration }}</td>
                <td>{{ offre.dureestage }}</td>
                <td>{{ offre.typestage }}</td>
                <td>{{ offre.dureecontrat }}</td>
                <td>{{ offre.typecontrat }}</td>
                <td>{{ offre.modetravail }}</td>
                <td>{{ offre.lieu }}</td>
                <td>{{ offre.typeoffre }}</td>
                <td>
                    <a href="{{ path('entrer', {'id': offre.id}) }}">show</a>

                </td>
            </tr>


        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_candidature_index') }}">consuler table candidatures</a>
{% endblock %}
