{% extends 'utilisateur/client/base.html.twig' %}{% block body %}
    <div class="table-responsive" style="margin-top: 50px">
        <table class="table table-hover" id="tableac">
            <br>
            <br>
            <script src="{{ asset('/assets/js/jquery.min.js') }}"></script>
            <br>
            <br>
            <br>
            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-" placeholder="Chercher un evennement" id="search"></form>
            <br>
            <br>
            <thead>
            <tr>

                <th>begins</th>
                <th>Ends</th>
                <th>Libelle</th>
                <th>start at</th>
                <th>End at</th>
                <th>Places</th>
                <th>Price</th>
                <th>Flyer</th>
                <th>Video</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ev in evennements22 %}
                <tr>

                    <td>{{ ev.dateDebut }}</td>
                    <td>{{ ev.dateFin }}</td>
                    <td>{{ ev.libelle }}</td>
                    <td>{{ ev.heureDebut }}</td>
                    <td>{{ ev.heureFin }}</td>
                    <td>{{ ev.nbPlaces }}</td>
                    <td>{{ ev.prix }}</td>
                    <td>{{ ev.flyer }}</td>
                    <td>{{ ev.video }}</td>


                    <td> <a href="{{ path('participer', {'id': ev.id}) }}"><input type="submit" value="Participer" class="btn btn-primary"></a></td>



                </tr>
                <script>
                    $(document).ready(function(){
                        $('#search').keyup(function(){
                            search_table($(this).val());
                        });
                        function search_table(value){
                            $('#tableac tbody tr').each(function(){
                                var found = 'false';
                                $(this).each(function(){
                                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                    {
                                        found = 'true';
                                    }
                                });
                                if(found == 'true')
                                {
                                    $(this).show();
                                }
                                else
                                {
                                    $(this).hide();
                                }
                            });
                        }
                    });
                </script>
                {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}