{% extends 'utilisateur/client/base.html.twig' %}



{% block body %}


    <table class="table" style="margin-top: 100px">
        <thead>
        <tr>
            <<th>Nom</th>
            <th>LOGO</th>
            <th colspan="3">actions</th>


        </tr>
        </thead>
        <tbody>

        {% for s in spons  %}
            <tr>
                <td>{{ s.nom }}</td>
                <td><img src ="{{ asset('upload/logo/' ~ s.logo) }}"alt="" style="width: 100px;height: 100px"></td>>
                <td><a href="{{ path('app_sponsor_show', {'id': s.id}) }}"><input type="submit" value="Show" class="btn btn-primary"></a></td>

                <td> <a href="{{ path('app_sponsor_edit', {'id': s.id}) }}"><input type="submit" value="edit" class="btn btn-primary"></a>




            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_evennement_index') }}"><input type="submit" value="Back" class="btn btn-primary"></a>
    <a href="{{ path('app_sponsor_new',{'id':id}) }}"><input type="submit" value="Ajouter sponsor" class="btn btn-primary"></a>



{% endblock %}