{% extends 'offre/templateoffre.html.twig' %}

{% block container %}
    <br>
    Liste des entretiens
{% endblock %}
{% block section %}

<section class="job-post section">

    {% endblock %}

    {% block entretien %}


        <div class="manage-resumes section">
            {% for label, messages in app.flashes(['success', 'update','warning']) %}
                {% for message in messages %}
                    <div class="alert alert-success -{{ label }}">
                        <div style="text-align: center;"> {{ message | upper}}</div>
                    </div>
                {% endfor %}    {% endfor %}
            <div class="manage-resumes section">
                {% for label, messages in app.flashes(["unique"]) %}
                    {% for message in messages %}
                        <div class="alert alert-warning -{{ label }}">
                           <div style="text-align: center;"> {{ message | upper}}</div>
                        </div>
                    {% endfor %}    {% endfor %}
            <div class="container">
                <div class="resume-inner">
                    <div class="row">

                        <div class="col-lg-4 col-12">
                            <div class="dashbord-sidebar">
                                <ul>
                                    <li class="heading">Entretiens</li>
                                    <li><a href="#"><i class="lni lni-clipboard"></i>Entretiens prévus<span class="notifi">22</span></a></li>
                                    <li><a href="#"><i class="lni lni-bookmark"></i>Ce mois-ci<span class="notifi">12</span></a></li>
                                    <li><a href="#"><i class="lni lni-alarm"></i>Cette semaine<span class="notifi">5</span></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-8 col-12">
                            <div class="inner-content">
                                {% for ent in entretiens %}
                                <div class="resume-item">

                                    <img src="{{ asset(ent.qrcode) }}" alt="Candidate">
                                    <div class="right">
                                        <h3>
                                            <a href="#">Arielle Terry</a>
                                        </h3>
                                        <span class="deg">Web Developer</span>
                                        <ul class="experience">
                                            <li>Date : <span>{{ ent.date }}</span></li>
                                            <li>Heure : <span>{{ ent.heure }}</span></li>
                                            <li>
                                                <i class="lni lni-map-marker"></i>
                                               Google meet
                                            </li>
                                        </ul>

                                        <div class="update-date">
                                            <p class="status">
                                                <strong>Created on:</strong> Fab 22, 2023
                                            </p>
                                            <div class="action-btn">

                                                <span>{{ include('entretien/_delete_form.html.twig') }}</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                    {% else %}
                                    <center><h3>aucun entretien prévu</h3></center>
                                {% endfor %}

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% block classJobinfo %}{% endblock %}">
    {% block jobinformation %}{% endblock %}
{#
    <table class="table">
        <thead>
            <tr>

                <th>Date</th>
                <th>Lienmeet</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entretien in entretiens %}
            <tr>

                <td>{{ entretien.date }}</td>
                <td>{{ entretien.lienmeet }}</td>
                <td>{{ entretien.heure }}</td>
                <td>
                    <a href="{{ path('app_entretien_show', {'id': entretien.id}) }}">show</a>
                    <a href="{{ path('app_entretien_edit', {'id': entretien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
#}
{% endblock %}
