{% extends 'offre/templateoffre.html.twig' %}

{% block title %}Edit Offre{% endblock %}

{% block body %}
    <h1>Edit Offre</h1>

    {% if test != -1%}

        {{ form_start(form) }}
        {% if  type  == "Stage" %}

            {{ form_row(form.titre) }}
            {{ form_row(form.dureestage) }}
            {{ form_row(form.description) }}
            {{ form_row(form.dateexpiration) }}
            {{ form_row(form.typestage) }}
            {{ form_row(form.modetravail) }}
            {{ form_row(form.lieu) }}

            <form method="post" action="{{ path('app_test_delete', {'id': offre.test.id}) }}" onsubmit="return confirm('Are you sure you want to delete this test?');">
                <button class="btn">Supprimer le test</button>
            </form>

            <button class="btn">{{ button_label|default('Modifier') }}</button>

            {% if  type  == "Freelancer" %}

                {{ form_row(form.titre) }}
                {{ form_row(form.dureestage) }}
                {{ form_row(form.description) }}
                {{ form_row(form.dateexpiration) }}
                {{ form_row(form.salaire) }}
                {{ form_row(form.modetravail) }}
                {{ form_row(form.lieu) }}

                <form method="post" action="{{ path('app_test_delete', {'id': offre.test.id}) }}" onsubmit="return confirm('Are you sure you want to delete this test?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.test.id) }}">
                    <button class="btn">Supprimer le test</button>
                </form>

                <button class="btn">{{ button_label|default('Modifier') }}</button>

            {% endif %}

            {% if  type  == "Emploi" %}

                {{ form_row(form.titre) }}
                {{ form_row(form.salaire) }}
                {{ form_row(form.description) }}
                {{ form_row(form.dateexpiration) }}
                {{ form_row(form.typecontrat) }}
                {{ form_row(form.modetravail) }}
                {{ form_row(form.lieu) }}

                <form method="post" action="{{ path('app_test_delete', {'id': offre.test.id}) }}" onsubmit="return confirm('Are you sure you want to delete this test?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.test.id) }}">
                    <button class="btn">Supprimer le test</button>
                </form>

                <button class="btn">{{ button_label|default('Modifier') }}</button>

            {% endif %}
        {% endif %}
        {% else %}
            {{ include('offre/_form.html.twig', {'button_label': 'Modifier'}) }}

    {% endif %}

    <a href="{{ path('app_offre_index') }}">back to list</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
