{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Salaire</th>
                <th>Description</th>
                <th>Domaine</th>
                <th>Dateexpiration</th>
                <th>Dureestage</th>
                <th>Typestage</th>
                <th>Typecontrat</th>
                <th>Modetravail</th>
                <th>Lieu</th>
                <th>Typeoffre</th>
                <th>Dateajout</th>
                <th>NB cand</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.titre }}</td>
                <td>{{ offre.salaire }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.domaine }}</td>
                <td>{{ offre.dateexpiration }}</td>
                <td>{{ offre.dureestage }}</td>
                <td>{{ offre.typestage }}</td>
                <td>{{ offre.typecontrat }}</td>
                <td>{{ offre.modetravail }}</td>
                <td>{{ offre.lieu }}</td>
                <td>{{ offre.typeoffre }}</td>
                <td>{{ offre.dateajout }}</td>
                <td>{{ offre.nbCandidature }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">edit</a>
                    <a href="{{ path('app_offre_cand', {'id': offre.id}) }}">Candidatures</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_show_typeOffre') }}">Create new</a>

{% endblock %}
