{% extends 'base.html.twig' %}

{% block title %}   Contrat index {% endblock %}

{% block body %}
    <h1>Tableau des contrats</h1>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Typecontrat</th>
                <th>DateDebut</th>
                <th>Datefin</th>
                <th>Salaire</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.typecontrat }}</td>
                <td>{{ contrat.datedebut ? contrat.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.datefin ? contrat.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.salaire }}</td>
                <td>{{ contrat.datecreation ? contrat.datecreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_new') }}">Create new contrat </a>
{% endblock %}
