{% extends 'utilisateur/client/base.html.twig' %}

{% block title %}Cours index{% endblock %}


{% block info %}
    <section class="apply-process section" style="margin-top: 100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12" style="border-color: #1a2e3b;border-width: 5px">
                    <div class="process-item">
                        <img width="70" height="70" src="{{asset('assets/img/cours.png')}}">
                        <h4>Consulter Les Cours</h4>
                        <p>Consulter nos Cours pour acquérir des nouvelles compétences.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <img width="70" height="70" src="{{asset('assets/img/certificate1.png')}}">
                        <h4>Passer Un Test De Certification</h4>
                        <p>Passer un test de certifications en ligne qui vont booster votre CV.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <img width="70" height="70" src="{{asset('assets/img/badge.png')}}">
                        <h4>Avoir Un Badge</h4>
                        <p>Obtenir un badge « Compétence vérifiée » pour démontrer la maîtrise de certaines compétences affichées sur votre profil.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block body %}
<section class="find-job job-list section">
    <div class="container">
        <div class="single-head">
            <div class="row">
                <div class="col-lg-6 col-12">

                     {% set i=cours|length/2 %}
                     {% set k=0 %}
                    {% for c in cours %}

                        {% if k>=i  and k<cours|length %}
                        {% set k=cours|length %}
                        </div>
                        <div class="col-lg-6 col-12">
                        {% endif %}


                    <div class="single-job">
                        <div class="job-image">
                            <img src="{{asset('assets/img/cours/htmlcours/'~c.titre~'.png')}}" height="70" width="70" alt="#">
                        </div>
                        <div class="job-content">
                            <form>
                            <h4><a style="font-size: 30px">{{ c.titre|upper }}</a></h4>
                            </form>
                            <p>Cours de <u style="color: black">{{ c.titre|upper }}</u>  specialise pour le domaine <u style="color: black">{{ c.domaine|upper }}</u> . </p> <p>C'est un cours <u style="color: black">{{ c.categorie|upper }}</u> . </p>
                            <ul>
                                <li><i class="bx lni-website"></i><a>Job.TN.com</a></li>
                                <li><i class="bx bx-yen"></i> Free </li>
                                <li><i class="lni lni-map-marker"></i>Developper par le team WorkBot</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <object type="application/html" width="100%" height="100%">
                                <a class="btn btn-outline-primary" target="_blank" href="{{ asset('assets/img/cours/htmlcours/'~c.chemin|replace({'C:/htmlcours/':''}))}}" >Afficher</a>
                            </object>


                        </div>
                    </div>
                        {% set k=k+1 %}
                    {% endfor %}





                    </div>

                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}




{#

{% block body %}
    <h1>Cours index</h1>

    <div class="table-responsive">
        <table class="table table-hover" id="tableac">
            <script src="{{ asset('/assets/js/jquery.min.js') }}"></script>
            <div>
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                    <input type="text" class="form-control" placeholder="Chercher un cours" id="search"> </form>
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Matiere</th>
                    <th>Domaine</th>
                    <th>Categorie</th>
                    <th>Chemin</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for cour in cours %}
                    <tr>
                        <td>{{ cour.titre }}</td>
                        <td>{{ cour.matiere }}</td>
                        <td>{{ cour.domaine }}</td>
                        <td>{{ cour.categorie }}</td>
                        <td>{{ cour.chemin }}</td>
                        <td>
                            <a href="{{ path('app_cours_show', {'id': cour.id}) }}">show</a>
                        </td>
                    </tr>
                    <script>
                        $(document).ready(function(){
                            $('#search').keyup(function(){
                                search_table($(this).val());
                            });
                            function search_table(value){
                                $('#tableac tbody tr').each(function(){
                                    var found = 'false';
                                    $(this).each(function(){
                                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                        {
                                            found = 'true';
                                        }
                                    });
                                    if(found == 'true')
                                    {
                                        $(this).show();
                                    }
                                    else
                                    {
                                        $(this).hide();
                                    }
                                });
                            }
                        });
                    </script>
                    {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </div>
        </table>

    </div>
{% endblock %}
#}
